# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
staticfiles/

# Backup files # 
*.bak 

# Environments #
venv/
.env

# Visual Studio Code # 
/.vscode
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

/node_modules