#app {
    --el-font-family: "Nunito", sans-serif;
}
#app .el-button {
    --el-button-bg-color: var(--qp-card-bg);
    --el-button-border-color: var(--qp-card-bg);
    --el-button-text-color: var(--qp-base-color);

    --el-button-hover-bg-color: var(--qp-card-bg);
    --el-button-hover-border-color: var(--qp-card-bg);
    --el-button-hover-text-color: var(--qp-primary);

    --el-button-active-bg-color: transparent;
    --el-button-active-border-color: rgba(255, 255, 255, 0.03);
    --el-button-active-text-color: var(--qp-primary);
}
#app .el-button.is-text {
    background-color: transparent;
    border-radius: 1em;
    color: var(--el-button-text-color);
}
#app .el-button.is-text:hover {
    background-color: rgba(255, 255, 255, 0.03);
    color: var(--qp-primary);
}
#app .el-button > span {
    text-overflow: hidden;
}

#app .el-card {
    background-color: var(--qp-card-bg);
    border-color: var(--qp-card-bg);
    border-radius: 0;
    box-shadow: none;
    color: var(--qp-card-color);
}

#app .el-col {
    padding: 10px;
}

body .el-dropdown-menu {
    --el-bg-color-overlay: var(--qp-sidebar-bg);
    --el-text-color-regular: #acadac;
    --el-text-color-disabled: #5e5f5e;
    background-color: var(--qp-sidebar-bg);
    border-color: var(--qp-sidebar-bg);
}
body .el-dropdown-menu__item.is-disabled.qp-dropdown-text {
    color: var(--el-text-color-regular);
    cursor: default;
}
body .el-dropdown-menu__item:not(.is-disabled):focus {
    background-color: rgba(255, 255, 255, 0.02);
}
body .el-dropdown-menu .el-divider--horizontal {
    border-color: rgba(255, 255, 255, 0.05);
    margin: 5px 0;
}

#app .el-progress {
    --el-border-color-lighter: rgba(255, 255, 255, 0.05);
}

#app .el-row {
    padding: 0 10px;
    margin-left: 0!important;
    margin-right: 0!important;
}

body .el-popper.is-light,
body .el-popper.is-dark {
    --el-bg-color-overlay: var(--qp-sidebar-bg);
    --el-border-color-light: var(--qp-sidebar-bg);
    --el-text-color-primary: var(--qp-sidebar-bg);
    background-color: var(--qp-sidebar-bg);
    border-color: var(--qp-sidebar-bg);
}
body .el-popper.qp-topbar-popper {
    --el-bg-color-overlay: var(--qp-navbar-bg);
    --el-border-color-light: var(--qp-navbar-bg);
    --el-text-color-primary: var(--qp-navbar-bg);
    background-color: var(--qp-navbar-bg);
    border-color: var(--qp-navbar-bg);
}
body .el-popper.qp-topbar-popper .el-dropdown-menu {
    --el-bg-color-overlay: var(--qp-sidebar-bg);
    --el-text-color-regular: #acadac;
    --el-text-color-disabled: #5e5f5e;
    background-color: transparent;
    border-color: transparent;
}

