#app .el-card {
    background-color: var(--qp-card-bg);
    border-color: var(--qp-card-bg);
    border-radius: 0;
    box-shadow: none;
    color: var(--qp-card-color);
}

body .el-dropdown-menu {
    --el-bg-color-overlay: #1c1d1c;
    --el-text-color-regular: #acadac;
    --el-text-color-disabled: #5e5f5e;
    background-color: #1c1d1c;
    border-color: #1c1d1c;
}
body .el-dropdown-menu__item.is-disabled.qp-dropdown-text {
    color: var(--el-text-color-regular);
    cursor: default;
}
body .el-dropdown-menu__item:not(.is-disabled):focus {
    background-color: rgba(255, 255, 255, 0.02);
}
body .el-dropdown-menu .el-divider--horizontal {
    border-color: rgba(255, 255, 255, 0.05);
    margin: 5px 0;
}

#app .el-row {
    padding: 10px;
    margin-left: 0!important;
    margin-right: 0!important;
}

body .el-popper.is-light {
    --el-bg-color-overlay: #1c1d1c;
    --el-border-color-light: #1c1d1c;
    background-color: #1c1d1c;
    border-color: #1c1d1c;
}
body .el-popper.is-light,
body .el-popper.is-dark {
    --el-text-color-primary: #1c1d1c;
}

