<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oykus API v1</title>
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css" />
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css" />
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css" />
    <style>
        tr.disabled{opacity:0.4;}
        tr.disabled a{cursor:default;pointer-events:none;}
    </style>
</head>

<body>
<div class="wrapper">
<div class="navbar navbar-static-top navbar-inverse" role="navigation" aria-label="navbar">
<div class="container">
<span>
<a class='navbar-brand' rel="nofollow" href='https://www.django-rest-framework.org/'>
Oykus API v1
</a>
</span>
</div>
</div>
<div class="container">
<ul class="breadcrumb"></ul>
<div id="content" role="main" aria-label="content">
<div class="region" aria-label="request form">
</div>
<div class="content-main" role="main" aria-label="main content">
<div class="page-header">
<h1>API v1</h1>
</div>
<div style="float:left">
<p>All endpoints</p>
</div>

<div class="response-info" style="clear: both">
<div class="prettyprint">
<table style="border-collapse:separate;border-spacing:8px;width:100%">
    <thead><tr><th>endpoints</th><th>methods</th><th>views</th></tr></thead>
    <tr><td colspan="3"><hr /></td></tr>
    <tbody>
        <tr>
            <td><a href="/api/v1/">/</a><br /></td>
            <td>GET</td><td>Ping</td>
        </tr>
    </tbody>
    <tr><td colspan="3"><hr /></td></tr>
    <!-- Me -->
    <tbody>
        <tr>
            <td><a href="/api/v1/me/">me/</a><br /></td>
            <td>GET</td><td>Me</td>
        </tr>
        <tr class="disabled">
            <td><a href="/api/v1/me/settings/account/">me/settings/account/</a><br /></td>
            <td>GET, PATCH</td><td>MeSettingsAccount</td>
        </tr>
        <tr class="disabled">
            <td><a href="/api/v1/me/settings/profile/">me/settings/profile/</a><br /></td>
            <td>GET, PATCH</td><td>MeSettingsProfile</td>
        </tr>
        <tr>
            <td><a href="/api/v1/me/rpg/">me/rpg/</a><br /></td>
            <td>GET list</td><td>MeRpgList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/me/characters/">me/characters/</a><br /></td>
            <td>GET list</td><td>MeCharactersList</td>
        </tr>
    </tbody>
    <tr><td colspan="3"><hr /></td></tr>
    <!-- Rpg -->
    <tbody>
        <tr>
            <td><a href="/api/v1/rpg/">rpg/</a><br /></td>
            <td>GET list</td><td>RpgList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/rpg/create/">rpg/create/</a><br /></td>
            <td>POST</td><td>RpgCreate</td>
        </tr>
        <tr>
            <td><a href="/api/v1/rpg/qalatlan/">rpg/[slug:slug]/</a><br /></td>
            <td>GET, PATCH</td><td>RpgDetail</td>
        </tr>
        <tr>
            <td><a href="/api/v1/rpg/qalatlan/delete/">rpg/[slug:slug]/delete/</a><br /></td>
            <td>DELETE</td><td>RpgDelete</td>
        </tr>
        <tr>
            <td><a href="/api/v1/rpg/qalatlan/races/">rpg/[slug:slug]/races/</a><br /></td>
            <td>GET list</td><td>RpgRacesList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/rpg/qalatlan/skills/">rpg/[slug:slug]/skills/</a><br /></td>
            <td>GET list</td><td>RpgSkillsList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/rpg/qalatlan/characters/">rpg/[slug:slug]/characters/</a><br /></td>
            <td>GET list</td><td>RpgCharactersList</td>
        </tr>
        <tr class="disabled">
            <td><a href="/api/v1/rpg/qalatlan/quests/">rpg/[slug:slug]/quests/</a><br /></td>
            <td>GET list</td><td>RpgQuestsList</td>
        </tr>
    </tbody>
    <tr><td colspan="3"><hr /></td></tr>
    <!-- Characters -->
    <tbody>
        <tr>
            <td><a href="/api/v1/characters/">characters/</a><br /></td>
            <td>GET list</td><td>CharactersList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/characters/create/">characters/create/</a><br /></td>
            <td>POST</td><td>CharactersCreate</td>
        </tr>
        <tr>
            <td><a href="/api/v1/characters/1/">characters/[int:pk]/</a><br /></td>
            <td>GET, PATCH</td><td>CharactersDetail</td>
        </tr>
        <tr>
            <td><a href="/api/v1/characters/1/delete/">characters/[int:pk]/delete/</a><br /></td>
            <td>DELETE</td><td>CharactersDelete</td>
        </tr>
    </tbody>
    <tr><td colspan="3"><hr /></td></tr>
    <!-- Races -->
    <tbody>
        <tr>
            <td><a href="/api/v1/races/">races/</a><br /></td>
            <td>GET list</td><td>RacesList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/races/create/">races/create/</a><br /></td>
            <td>POST</td><td>RacesCreate</td>
        </tr>
        <tr>
            <td><a href="/api/v1/races/1/">races/[int:pk]/</a><br /></td>
            <td>GET, PATCH</td><td>RacesDetail</td>
        </tr>
        <tr>
            <td><a href="/api/v1/races/1/delete/">races/[int:pk]/delete/</a><br /></td>
            <td>DELETE</td><td>RacesDelete</td>
        </tr>
    </tbody>
    <tr><td colspan="3"><hr /></td></tr>
    <!-- Skills -->
    <tbody>
        <tr>
            <td><a href="/api/v1/skills/">skills/</a><br /></td>
            <td>GET list</td><td>SkillsList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/skills/create/">skills/create/</a><br /></td>
            <td>POST</td><td>SkillsCreate</td>
        </tr>
        <tr>
            <td><a href="/api/v1/skills/1/">skills/[int:pk]/</a><br /></td>
            <td>GET, PATCH</td><td>SkillsDetail</td>
        </tr>
        <tr>
            <td><a href="/api/v1/skills/1/delete/">skills/[int:pk]/delete/</a><br /></td>
            <td>DELETE</td><td>SkillsDelete</td>
        </tr>
    </tbody>
    <tr><td colspan="3"><hr /></td></tr>
    <!-- Quests -->
    <tbody>
        <tr class="disabled">
            <td><a href="/api/v1/quests/">quests/</a><br /></td>
            <td>GET list</td><td>QuestsList</td>
        </tr>
        <tr class="disabled">
            <td><a href="/api/v1/quests/create/">quests/create/</a><br /></td>
            <td>POST</td><td>QuestsCreate</td>
        </tr>
        <tr class="disabled">
            <td><a href="/api/v1/quests/1/">quests/[int:pk]/</a><br /></td>
            <td>GET, PATCH</td><td>QuestsDetail</td>
        </tr>
        <tr class="disabled">
            <td><a href="/api/v1/quests/1/delete/">quests/[int:pk]/delete/</a><br /></td>
            <td>DELETE</td><td>QuestsDelete</td>
        </tr>
    </tbody>
    <tr><td colspan="3"><hr /></td></tr>
    <!-- Forums -->
    <tbody>
        <tr>
            <td><a href="/api/v1/forums/">forums/</a><br /></td>
            <td>GET list</td><td>ForumsList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/create/">forums/create/</a><br /></td>
            <td>POST</td><td>ForumsCreate</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/1/">forums/[int:pk]/</a><br /></td>
            <td>GET, PATCH</td><td>ForumsDetail</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/1/delete/">forums/[int:pk]/delete/</a><br /></td>
            <td>DELETE</td><td>ForumsDelete</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/1/categories/">forums/[int:pk]/categories/</a><br /></td>
            <td>GET list</td><td>ForumsCategoriesList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/1/sections/">forums/[int:pk]/sections/</a><br /></td>
            <td>GET list</td><td>ForumsSectionsList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/1/topics/">forums/[int:pk]/topics/</a><br /></td>
            <td>GET list</td><td>ForumsTopicsList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/1/messages/">forums/[int:pk]/messages/</a><br /></td>
            <td>GET list</td><td>ForumsMessagesList</td>
        </tr>
        <tr><td colspan="3"></td></tr>
        <tr>
            <td><a href="/api/v1/forums/categories/">forums/categories/</a><br /></td>
            <td>GET list</td><td>CategoriesList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/categories/">forums/categories/create/</a><br /></td>
            <td>POST</td><td>CategoriesCreate</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/categories/1/">forums/categories/[int:pk]/</a><br /></td>
            <td>GET, PATCH</td><td>CategoriesDetail</td>
        </tr>
        <tr class="disabled">
            <td><a href="/api/v1/forums/categories/1/delete/">forums/categories/[int:pk]/delete/</a><br /></td>
            <td>DELETE</td><td>CategoriesDelete</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/categories/1/sections/">forums/categories/[int:pk]/sections/</a><br /></td>
            <td>GET list</td><td>CategoriesSectionsList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/categories/1/topics/">forums/categories/[int:pk]/topics/</a><br /></td>
            <td>GET list</td><td>CategoriesTopicsList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/categories/1/messages/">forums/categories/[int:pk]/messages/</a><br /></td>
            <td>GET list</td><td>CategoriesMessagesList</td>
        </tr>
        <tr><td colspan="3"></td></tr>
        <tr>
            <td><a href="/api/v1/forums/sections/">forums/sections/</a><br /></td>
            <td>GET list</td><td>SectionsList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/sections/">forums/sections/create/</a><br /></td>
            <td>POST</td><td>SectionsCreate</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/sections/1/">forums/sections/[int:pk]/</a><br /></td>
            <td>GET, PATCH</td><td>SectionsDetail</td>
        </tr>
        <tr class="disabled">
            <td><a href="/api/v1/forums/sections/1/delete/">forums/sections/[int:pk]/delete/</a><br /></td>
            <td>DELETE</td><td>SectionsDelete</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/sections/1/topics/">forums/sections/[int:pk]/topics/</a><br /></td>
            <td>GET list</td><td>SectionsTopicsList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/sections/1/messages/">forums/sections/[int:pk]/messages/</a><br /></td>
            <td>GET list</td><td>SectionsMessagesList</td>
        </tr>
        <tr><td colspan="3"></td></tr>
        <tr>
            <td><a href="/api/v1/forums/topics/">forums/topics/</a><br /></td>
            <td>GET list</td><td>TopicsList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/topics/">forums/topics/create/</a><br /></td>
            <td>POST</td><td>TopicsCreate</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/topics/1/">forums/topics/[int:pk]/</a><br /></td>
            <td>GET, PATCH</td><td>TopicsDetail</td>
        </tr>
        <tr class="disabled">
            <td><a href="/api/v1/forums/topics/1/delete/">forums/topics/[int:pk]/delete/</a><br /></td>
            <td>DELETE</td><td>TopicsDelete</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/topics/1/messages/">forums/topics/[int:pk]/messages/</a><br /></td>
            <td>GET list</td><td>TopicsMessagesList</td>
        </tr>
        <tr><td colspan="3"></td></tr>
        <tr>
            <td><a href="/api/v1/forums/messages/">forums/messages/</a><br /></td>
            <td>GET list</td><td>MessagesList</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/messages/">forums/messages/create/</a><br /></td>
            <td>POST</td><td>MessagesCreate</td>
        </tr>
        <tr>
            <td><a href="/api/v1/forums/messages/1/">forums/messages/[int:pk]/</a><br /></td>
            <td>GET, PATCH</td><td>MessagesDetail</td>
        </tr>
        <tr class="disabled">
            <td><a href="/api/v1/forums/messages/1/delete/">forums/messages/[int:pk]/delete/</a><br /></td>
            <td>DELETE</td><td>MessagesDelete</td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</div>
</body>

</html>